@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Begin Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}
/* End Reset */

/* Utility Classes */
.nowarp {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

/* End Utility Classes */
body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background: aliceblue;
    /* background-image: url("../images/rear-view-excited-people-with-arms-raised-having-fun-while-watching-confetti-fireworks-front-stage-music-festival-copy-space.jpg"), linear-gradient(to left, steelblue, #fff);
    background-repeat: repeat-y, no-repeat;
    background-position: right center;
    background-size: cover; */
    background:  repeat-y right center url("../images/41f18e097ce678e7655adb46aa05f90a.jpg"), no-repeat linear-gradient(to left, steelblue, #fff);
    background-size: 20%, auto;
}
.container {
    background-color: rgb(251, 210, 156);
    background-image: url("../images/rachel-coyne-U7HLzMO4SIY-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.hero{
    border-bottom: 2px solid #000;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    background-color: hsla(250, 96%, 50%, 0.145);
}

.h1 {
    font-size: 500%;
    color: aliceblue;
    text-shadow: 2px 2px 5px #000;
    /* background-color: hsla(0, 0%, 0%, 0.281);
    padding: 0.25rem;
    border-radius: 10px; */

}

.profile-pic-figure {
    width: 25%;
}

.profile-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}

.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img {
    width: 25%;
    height: auto;
}

.clip {
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url("../images/back-view-crowd-fans-watching-live-performance-music-concert-night-copy-space.jpg");
    background-size: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: hsla(0, 0%, 14%, 0.2);
}